<p>
    <mat-toolbar class="barra">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon class="i">menu</mat-icon>
      </button>
      
    
     <mat-menu #menu="matMenu">
     <button mat-menu-item routerLink="/card">CARDS</button>
     <button mat-menu-item routerLink="/tabla">TABLA</button>
     <!--<button mat-menu-item routerLink="#"></button>-->
     
     </mat-menu>
      <span class="n">API EN ANGULAR</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon class="i">favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon class="i">share</mat-icon>
      </button>
    </mat-toolbar>
  </p>
  
